<header class="site-header" role="banner">

  <div class="wrapper">
    {%- assign default_paths = site.pages | map: "path" -%}
    {%- assign page_paths = site.header_pages | default: default_paths -%}

    {%- if page_paths -%}
      <nav class="site-nav">
        {%- if page_paths contains 'index.md' -%}<a class="page-link" href="{{ site.baseurl }}{% link index.md %}">Portfolio</a>{%- endif -%}
        {%- if page_paths contains 'posts.md' -%}<a class="page-link" href="{{ site.baseurl }}{% link posts.md %}">Posts</a>{%- endif -%}
      </nav>
    {%- endif -%}
  </div>
</header>
